<div class="flex justify-between items-center gap-2">
  <div class="flex items-center gap-2">
    <a href="<%= bookmark.url %>">
      <%= bookmark.name %>
    </a>
  </div>
  <span class="bg-white/80 h-px flex-1"></span>
  <div class="flex items-center gap-2">
    v
  </div>
</div>