<div class="flex flex-col min-h-dvh gap-4 p-4 max-w-6xl w-11/12 mx-auto">
<h1>Bookmarks#index</h1>

<%= link_to "Add bookmark", bookmarks_new_path, data: { turbo_frame: 'modal' } %>

<div id="bookmarks">
  <% @bookmarks.each do |bookmark| %>
    <%= render "bookmark", bookmark: bookmark %>
  <% end %>
</div>