<% content_for :hide_modal_cancel, true %>
<% content_for :modal_content do %>
  <%= render "sign_in_content" %>
<% end %>

<div class="min-h-[calc(100vh-128px)] flex items-center justify-center">
  <div class="w-11/12 max-w-md bg-zinc-900/60 border border-zinc-800 rounded-2xl p-8 shadow-2xl shadow-black/40">
    <%= render "sign_in_content" %>
  </div>
</div>
