<div class="max-w-6xl w-11/12 mx-auto flex flex-col gap-4">
  <%= render "folders/page_header",
      title: "All my bookmarks",
      subtitle: "Organize and access your favorite links",
      bookmark_path: new_bookmark_path,
      folder_path: new_folder_path %>

  <%= render "folders/content", folders: @folders, bookmarks: @bookmarks %>
</div>
