<div id="<%= dom_id(tag) %>-simple_tag" class="h-7 inline-flex items-center py-px px-2 rounded-lg transition-all w-fit shrink-0 cursor-pointer <% if local_assigns[:applied] %>opacity-40 !cursor-default<% end %>" style="<%= tag_container_style(tag) %>">
  <span class="text-xs font-semibold truncate" style="<%= tag_text_style(tag) %>"><%= tag.name %></span>
</div>
