<div class="h-7 inline-flex items-center py-px px-2 rounded-lg border transition-all hover:opacity-90 w-fit shrink-0" style="<%= tag_container_style(tag) %>">
  <span class="text-xs font-semibold truncate bg-clip-text text-transparent" style="<%= tag_text_style(tag) %>"><%= tag.name %></span>
</div>
