<% content_for :modal_size do %>max-w-lg<% end %>
<% content_for :modal_header do %>
  <h2 class="text-lg font-bold text-white">Collaborators</h2>
<% end %>

<% content_for :modal_content do %>
  <div class="space-y-4">
    <%= render "form" %>

    <div class="space-y-1">
      <p class="text-[10px] font-bold uppercase tracking-widest text-zinc-500 ml-1 mb-2">Current collaborators</p>
      <div id="<%= dom_id(@folder) %>-collaborators_container" class="flex flex-wrap gap-2 overflow-y-auto pr-1 -mr-1 max-h-60">
        <% if @folder.folder_collaborations.any? %>
          <%= render partial: "folder_collaborations/collaborator", collection: @folder.folder_collaborations, as: :folder_collaboration %>
        <% else %>
          <%= render "folder_collaborations/empty", folder: @folder %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
