<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body class="bg-gradient-to-b from-zinc-800 to-zinc-950 text-white line-seed">
    <%= turbo_frame_tag 'modal' %>
    <%= yield %>
  </body>
</html>
